<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Canvas</title>
</head>
<body>
  <canvas id="smile" width="200" height="200">
    <p>Ваш браузер не поддерживает рисование.</p>
  </canvas>

  <canvas id="line" width="200" height="200">
    <p>Ваш браузер не поддерживает рисование.</p>
  </canvas>

  <canvas id="rect" width="200" height="200">
    <p>Ваш браузер не поддерживает рисование.</p>
  </canvas>
  <script>
    window.onload = function() {
      const drawingCanvas = document.getElementById('smile');

      if(drawingCanvas && drawingCanvas.getContext) {
        const context = drawingCanvas.getContext('2d');

        // Рисуем окружность
        context.strokeStyle = "#000";
        context.fillStyle = "#fc0";
        context.beginPath();
        context.arc(100,100,50,0,Math.PI*2,true);
        context.closePath();
        context.stroke();
        context.fill();

        // Рисуем левый глаз
        context.fillStyle = "#fff";
        context.beginPath();
        context.arc(84,90,8,0,Math.PI*2,true);
        context.closePath();
        context.stroke();
        context.fill();

        // Рисуем правый глаз
        context.beginPath();
        context.arc(116,90,8,0,Math.PI*2,true);
        context.closePath();
        context.stroke();
        context.fill();

        // Рисуем рот
        context.beginPath();
        context.moveTo(70,115);
        context.quadraticCurveTo(100,130,130,115);
        context.quadraticCurveTo(100,150,70,115);
        context.closePath();
        context.stroke();
        context.fill();
      }

      const c = document.getElementById("line");
      const ctx = c.getContext("2d");

      ctx.moveTo(10, 10);
      ctx.lineTo(200, 100);
      ctx.stroke();

      const rect = document.getElementById("rect");
      const rectCtx = rect.getContext("2d");
      rectCtx.rect(20,20,150,100);
      rectCtx.stroke();
      rectCtx.fillStyle = "#fc0";
      rectCtx.fill();
    }
  </script>
</body>
</html>