<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SVG</title>
</head>
<body>
  <!-- линия -->
  <div style="width: 500px; height: 200px">
    <svg viewBox="0 0 100 100"
         xmlns="http://www.w3.org/2000/svg">
      <line x1="0" y1="20"
            x2="100" y2="20"
            stroke="red"/>
    </svg>
  </div>
  <!-- прямоугольник -->
  <div style="width: 500px; height: 200px">
    <svg viewBox="0 0 100 100"
         xmlns="http://www.w3.org/2000/svg">
      <rect width="50" height="50"
        style="fill: #0000ff; stroke-width: 1px; stroke: #000000;"/>
    </svg>
  </div>


</body>
</html>